<footer>
    <div class="body-wrapper center-block">
        <div class="col-sm-3 col-xs-6">
            <h3><b>新悦读</b></h3>
            <ul>
                <li><a href="{{getAboutXinYueDuUrl contents.about}}">关于我们</a></li>
                <li><a href="{{getJoinUsUrl contents.about}}">加入我们</a></li>
                <li><a href="{{getContactUsUrl contents.about}}">联系我们</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h3><b>关注我们</b></h3>
            <ul>
                <li><a href="http://weibo.com/u/5326467381"><i class="fa fa-weibo fa-fw"></i>新浪微博</a></li>
                <li><a class="follow-wechat-link"><i class="fa fa-weixin fa-fw"></i>微信</a></li>
                <li><a href="https://www.facebook.com/pages/%E6%96%B0%E6%82%A6%E8%AF%BB/1555192574725056"><i class="fa fa-facebook-official fa-fw"></i>Facebook</a></li>
                <li><a href="https://plus.google.com/+Shiningdoerdotcom/videos" rel="publisher"><i class="fa fa-google-plus fa-fw"></i>Google+</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h3><b>合作伙伴</b></h3>
            <ul>
                <li><img src="/assets/images/wu-jie-xian.jpg"/></li>
                <li><img src="/assets/images/RediffusionLogo_new_flat.png"/></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h3><b>版权</b></h3>
            <ul>
                <li><a href="{{getAboutCopyrightUrl contents.about}}">反抄袭声明</a></li>
            </ul>
        </div>
        <div class="clear-fix"></div>
    </div>

</footer>